<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fridgit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet"/>
  
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .tooltip-inner {
          max-width: 400px;
          white-space:pre-wrap;
        }
      .navbar-inner {
      background-color: #7171C6;
      font-color: #FFFFFF;
      }
      h4 .btn { display: inline-block; }
      .btn-small {
        width:50px;
      }
    </style>




    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

<body>

  
  <script src="{% static 'bootstrap/js/jquery-1.10.2.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href= {% url "home" %} >Fridgit</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            </ul>
            <form class="navbar-form pull-right">
              <!--<a href={% url "login" %} class="btn">Sign in</a> -->
              <ul class="nav">
              <li><a>Welcome, {{ user }}!</a></li>
              <li><a href="landing.html">Log Out</a></li>
            </ul>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
        <div class="span10 offset1">
          <div class="row"><h3>Fridgit Inventory {{ user }}</h3></div>
          <form id="checkbox_form" action="/recipes/" method="post">{% csrf_token %}
            {{ form.as_p }}
          <table class="table table-hover" id="food_table">

        <thead>
              <th>Item</th>
              <th>Quantity</th>
              <th>Purchase date</th>
              <th></th>
          </thead>
          <tbody>
            <form method="post" action={% url "add_food" %}> {% csrf_token %}
            <tr>
              <td><input type="text" placeholder="New item" name="food_name" id="new_item_name"></input></td>
              <td><input type="text" placeholder="Quantity" name="quantity" id="new_item_quant"></input></td>
              <td><input type="text" placeholder="Date purchased" id="new_item_date"></input></td>
              <td><a href="#" class="btn btn-success" id="addnew" onclick="populate_new()" style="width:30px">Add</a></td>
            </tr>
            </form>
        </tbody>
      </table>
      <input type="hidden" id="hidden_ings" name="ingreds" value="">
      <div class="row" align="center"><input type="submit" class="btn btn-danger" id="get_recipe" value="Find recipes!"></div>
    </form> <!-- ends the checkbox form -->
    </div>
    </div>
    </div>
        <script src="{% static 'bootstrap/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript">
          $(document).ready(function(){
            $("#get_recipe").click(function() {
              var ingredients = new Array();
              $('tr .recipe_list').each(function() {
                  if(this.checked) {
                      //var td = $(this).parent().parent().html();
                      //var nextd = $(td).next().html();
                      //ingredients.push(nextd);
                      var val = $(this).parent().html();
                      var val_s = val.toString();
                      var thing = val_s.split(">")[1];
                      ingredients.push(thing);
                  }
              });
              if (ingredients.length > 5) {
                alert("Sorry, please limit your selection to 5 items!");
              }
              else {
                //ing_string = ingredients.toString();
                document.getElementById("hidden_ings").value = ingredients;
                document.getElementById("hidden_ings").innerHTML = ing_string;
                $("#hidden_ings").text(ing_string);
                alert(ingredients);
              }
            });            
          });
        </script>
        <script type="text/javascript">
        $(document).ready(function(){
          $('#food_table').on('click', '#delete', function(){
              $(this).closest ('tr').remove();
          });
        });
        </script><tr>
	 <script type="text/javascript">
         console.log("Sending ajax call");
         var j = $.ajax({ 
           type: "GET",
           dataType: "json",
           url: "http://localhost:8000/get_food",
           success: function(data) {
	     console.log(data);        
	     for (var i = 0; i < data.length; i++) {
               var name = data[i].fields.name;
               var quantity = data[i].fields.quantity;
               var table = document.getElementById("food_table");
               var row = table.insertRow(2);
               var cell1 = row.insertCell(0);
               var cell2 = row.insertCell(1);
               var cell3 = row.insertCell(2);
               var cell4 = row.insertCell(3);
               var cell5 = row.insertCell(4);
               cell1.innerHTML = "<input type=\"checkbox\" id=\"recipe_list\" class=\"recipe_list\">";
               cell2.innerHTML ="<td class='item'>" + name + "</td>";
               cell3.innerHTML = "<td>" + quantity + "</td>";
               cell4.innerHTML = " <td>01/20/14</td>";
               cell5.innerHTML = "<a href=\"#\" class=\"btn btn-small\" id=\"delete\">Delete</a>";
	     }
        }
      });
	</script>
        <script type="text/javascript">
          function populate_new() {
            var table = document.getElementById("food_table");
            var n = document.getElementById("new_item_name").value;
            var q = document.getElementById("new_item_quant").value;
            var d = document.getElementById("new_item_date").value;

            if(n=='') {
              alert("Sorry, please enter a name for your item.");
              exit();
            }
            if(q=='') {
              alert("Sorry, please enter a quantity for your item.");
              exit();
            }
            if(d=='') {
              alert("Sorry, please enter a date of purchase for your item.");
              exit();
            }
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            cell1.innerHTML = "<div class=\"checkbox\"><label><input type=\"checkbox\" id=\"recipe_list\" class=\"recipe_list\">"+n+"</label></div>";
            cell2.innerHTML = q;
            cell3.innerHTML = d;
            cell4.innerHTML = "<a href=\"#\" class=\"btn btn-small\" id=\"delete\">Delete</a>";
          }
        </script>
</body>
</html>
