<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fridgit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet"/>
	
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .tooltip-inner {
          max-width: 400px;
          white-space:pre-wrap;
        }
      .navbar-inner {
      background-color: #7171C6;
      font-color: #FFFFFF;
      }

      .hero-unit {
        height:200px;
        background-color: rgba(0, 0, 0, 0.15);
        width:430px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href= {% url "home" %} >Fridgit</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li></li>
            </ul>
            <form class="navbar-form pull-right" method="post" action={% url "login" %}> {% csrf_token %}
              <input class="span2" type="text" name="email" placeholder="FakeEmail">
              <input class="span2" type="password" name="password" placeholder="FakePassword">
               <button type="submit" class="btn">Sign in</button> 
    <!--       <a href={% url "login" %} class="btn" type="submit">Sign in</a>-->
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span4">
    <div class="hero-unit" style="color:#000000;">
  <h1>Fridgit</h1>
  <p>The smart fridge for smart people</p>
     <button class="btn btn-success btn-large" data-toggle="modal" data-target="#signupModal">
        Sign up
    </button>

    <!-- Modal -->
     <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title" id="myModalLabel">Sign up for Fridgit</h4>
           </div>
           <div class="modal-body">
             <form role="form">
              <div class="form-group">
                 <label for="name">Full name</label>
                 <input type="text" class="form-control" id="name" placeholder="Sharkeshia Jaws">
               </div>
               <div class="form-group">
                 <label for="email">Email address</label>
                 <input type="email" class="form-control" id="email" placeholder="april@sleepdeprived.com">
               </div>
               <div class="form-group">
                 <label for="password">Password</label>
                 <input type="password" class="form-control" id="password" placeholder="help911">
               </div>
             </form>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <a href="#" class="btn btn-success">Sign up</a>
           </div>
         </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->


  </p>
</div>
</div>
<div class="span4 offset2">
<div class="hero-unit" style="color:#000000;">
  <h2>Scan grocery receipts to automatically receive recipes, alerts, and much more!</h2>
  </div>
</div>
</div>
</div>
  

        <script src="{% static 'bootstrap/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'jquery.backstretch.min.js' %}"></script>
        <script type="text/javascript">
        $.backstretch("{% static 'eat-food-fruits-pictures-orangeis_and_lemons.jpg' %}");
        </script>
</body>
</html>
